body {font-family: alice, serif; background-color:black; color: white}

a {color:hotpink}
h1 {
  background-color:white;
  width: 50%;
  color: skyblue;
  margin: 10px auto;
  padding: 10px; 
  text-align: center;
  border-radius: 5px;
  border: 3px solid blue;
  text-shadow: 2px 2px blue;
}
h2 {color:skyblue}



a:hover {color:red}

ul li {font-style:italic}

/*This is a comment*/

.int-link {font-weight:bolder}

#mail-link {font-size: 1.5em}
