body {font-family: alice, serif; background-color:black; color: white}

a {color:hotpink}
h1 {
  background-color:white;
  border:3px solid blue;
  width: 50%;
  color: skyblue;
  margin:10px auto;
  padding: 10px;
  text-align: center;
  border-radius:15px;
  text-shadow: 2px 2px blue;
}

h2 {color:skyblue}


a:hover {
  color:red; 
}

ul li {font-style:italic}

/*This is a comment*/

.int-link {
  font-weight:bolder; 
}

#mail-link {font-size: 1.5em}
/*This is a comment*/

.int-link {font-weight:bolder}

#mail-link {font-size: 1.5em}
