body {font-family: alice, serif; background-color:black; color: white}

a {color:hotpink}
h1 {color:skyblue}


a:hover {color:red}

ul li {font-style:italic}

/*This is a comment*/

.int-link {font-weight:bolder}

#mail-link {font-size: 1.5em}
