body {
  font-family:'Comic Relief', serif;
  margin: 0px;
  font-size:14px;
  background-color:#4D649E
}
h1, h2{
  font-family:'oi', serif; 
  font-weight:100;
  text-shadow: 2px 2px #ffffff;
  text-align: center;
}
p {
  color: black;
  text-align: center; 
  padding: 5px 5px;
  display:block;
}
div.review-div {
  text-align:center; 
  background-color: #4D8D9E;
  padding: 5px;
  margin: 10px 10%;
  border:solid black 3px;
  border-radius:15px;
  display:block;
  
}
hr {border-color:black}
a{
  text-decoration:none;
  font-weight:650;
  color: hsl(280, 50%, 30%);
}
#footer a { 
  color: black;
  display:inline-block;
  width:100%;
  text-align: center;
  font-size:1.5em
}
a:hover {color:#4D649E;}


